﻿.k-widget.k-tooltip-validation,
.k-widget.k-tooltip {
    background-color: white;
}

.k-grid-content-locked {
    float: right;
}

.k-grid-header-locked {
    float: right;
}

.k-detail-row {
    background-color: #f3f3f4;
}

.k-grid .k-invalid-msg {
    margin: 0.5em 0.5em 0.5em -0.5em !important;
}

.k-grid-header th.k-header > .k-link {
    overflow: visible;
}

.k-textbox {
    width: 100%;
}

.k-textbox[readonly],
.k-textbox[readonly]:hover {
    background-color: #eee;
}

.k-textbox[readonly],
.k-textbox[readonly]:hover {
    background-color: #eee;
}

.k-filter-menu .k-multiselect .k-button {
    width: 100%;
    margin: 1px;
}
