﻿.navbar {
    background-color: #363D47;
    border-left-color: #363D47;
    color: #969DA7;
}

    .navbar .single-dropdown .navbar-text {
        color: #969DA7;
    }

        .navbar .single-dropdown .navbar-text:hover {
            background-color: #2A3039;
            color: #ffffff;
        }

.navbar-fixed-side {
    position: fixed;
    margin: 0 -15px;
    height: 100vh;
    width: inherit;
    overflow: auto;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
}

.container-fluid-inn1 {
    width: 235px;
}

.container-fluid-inn2 {
    margin-left: 235px;
}

.navbar-fixed-side .container, .navbar-fixed-side .container-fluid {
    width: auto;
    padding-left: 0;
    padding-right: 0;
}

.navbar-fixed-side .navbar-header {
    float: none;
}

.navbar-fixed-side .navbar-brand {
    height: auto;
}

.navbar-fixed-side > .container .navbar-brand, .navbar-fixed-side > .container-fluid .navbar-brand {
    margin-left: 0;
}

.navbar-fixed-side .navbar-collapse {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.navbar-fixed-side .navbar-nav {
    float: none;
    margin: 0 -15px;
}

    .navbar-fixed-side .navbar-nav > li {
        float: none;
    }

        .navbar-fixed-side .navbar-nav > li > a {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #2A3039;
        }

        .navbar-fixed-side .navbar-nav > li:first-child > a {
            padding-top: 30px;
        }

.navbar-fixed-side .navbar-form {
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-bottom: 1px solid #2A3039;
}

.navbar-fixed-side .navbar-text {
    float: none;
    margin-left: 0;
    margin-top: 40px;
    margin-right: 0;
}

.navbar-fixed-side .navbar-footer {
    padding-top: 20px;
}

.navbar-fixed-side .navbar-footer ul{
    list-style: none;
    padding: 0;
    font-size: 13px;
}

.navbar-fixed-side .navbar-button {
    margin-left: 15px;
    width: 70%;
}

.navbar-fixed-side .navbar-left, .navbar-fixed-side .navbar-right {
    float: none !important;
}

.navbar-fixed-side .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #2A3039;
}

    .navbar-fixed-side .navbar-nav .dropdown-menu > li > a, .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
        padding: 5px 25px 5px 30px;
    }

    .navbar-fixed-side .navbar-nav .dropdown-menu > li > a {
        line-height: 20px;
        color: #969DA7;
    }

        .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover {
            background-color: #2A3039;
            color: #ffffff;
        }

    /*.navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
                background-image: none;
            }*/

    .navbar-fixed-side .navbar-nav .dropdown-menu > .active > a {
        background-color: #24272E;
        color: #EBEBEB;
    }

        .navbar-fixed-side .navbar-nav .dropdown-menu > .active > a:hover {
            background-color: #2A3039;
            color: #ffffff;
        }

    .navbar-fixed-side .navbar-nav > li > a:hover, .navbar-fixed-side .navbar-nav > li > a:focus, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
        background-color: #2A3039;
        color: #ffffff;
    }

.navbar-fixed-side .dropdown > .dropdown-toggle, .navbar-fixed-side .dropdown-menu > .dropdown-header {
    background-color: transparent !important;
    color: #9d9d9d !important;
    cursor: default;
    font-size: 0.8em;
    text-transform: uppercase;
    border-bottom: none;
    padding-bottom: 0;
    font-weight: bold;
}

.navbar-fixed-side .dropdown-toggle .caret {
    display: none;
}

.navbar-fixed-side .dropdown-menu {
    display: block;
}

.navbar-fixed-side.navbar-inverse .navbar-collapse, .navbar-fixed-side.navbar-inverse .navbar-nav > li > a, .navbar-fixed-side.navbar-inverse .navbar-form, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
    border-color: #363636;
}

.navbar-fixed-side.navbar-inverse .divider {
    background-color: #363636;
}

.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    color: #9d9d9d;
}

.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > .active > a {
    background-color: #090909;
    color: #fff;
}

.navbar-fixed-side.navbar-inverse .navbar-nav > li:not(.active) > a:hover, .navbar-fixed-side.navbar-inverse .navbar-nav > li:not(.active) > a:focus, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li:not(.active) > a:hover, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li:not(.active) > a:focus {
    background-color: #2f2f2f;
    color: #fff;
}

.navbar-fixed-side.navbar-inverse .dropdown > .dropdown-toggle {
    color: #777777 !important;
}

