﻿.k-notification {
    border: 0;
}

.k-notification-success.k-group {
    /* темно-зеленый фон / белый текст */
    /*background: rgba(0,60,0,0.9);
    color: #fff;*/
    /* светло-зеленый фон / зеленый текст */
    background-color: #eaf7ec;
    color: #349946;
    border-color: #b7e1f0;
}

.notification-success {
    width: 300px;
    height: 100px;
}

.notification-success h3 {
    font-size: 1em;
}

.notification-success img {
    float: left;
    margin: 20px 10px 30px 10px;
}

