﻿form label {
    padding-top: 5px;
}

.center-block {
    float: none !important;
}

.material-code-input {
    padding: 0;
}

.full-width {
    display: block;
}

/* fo kendo textbox with search icon */
#selectMaterial, #selectMaterialTo {
    height: 31px;
    width: 27px;
    position: absolute;
}

#selectMaterialFrom {
    height: 31px;
    width: 27px;
    position: absolute;
}

.material-code-input.k-space-right .k-icon,
.material-code-input.k-space-right .k-icon,
.material-code-input.k-space-right .k-icon {
    right: 5.7px;
}


.k-grid td {
    overflow: visible;
}


.k-grid-header th.k-header {
    overflow: visible;
    white-space: normal;
    vertical-align: top;
} 

.k-grid-header th.k-with-icon .k-link {
    margin-right: 0;
}

.grid-wrapper-vh-160 {
    height: calc(100vh - 160px);
}

.grid-wrapper-vh-120 {
    height: calc(100vh - 120px);
}

