﻿@using Web.Application.Services.Account
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/datepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/panel-table.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/jquery-ui-bootstrap-autocomplete.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/libs/kendo/2014.2.716/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/libs/kendo/custom/kendo.custom.bootstrap-lightgray.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/kendo-custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/notification.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/navbar-fixed-side.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/helpers.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap-year-calendar.min.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding: 0;">
    @{
        //var currentUser = (ViewContext.Controller as ICurrentUserAccessor).CurrentUser;
    }
    <div class="container-fluid">
        <div class="container-fluid-inn1">
            <nav class="navbar navbar-default navbar-fixed-side">
                <div class="container">
                    <div class="navbar-header" style="text-align: center;">
                        <br />
                        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img src="~/Content/images/ncoc_logo.png" alt="logo" class="hidden-xs" />
                        <a class="navbar-brand" href="/" style="color: #337ab7;">Met Ocean Database Tool</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @{
                                var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
                                var isLoggedInAsHr = controllerName.StartsWith("Hr");
                                var isLoggedInAsDepAdmin = controllerName.StartsWith("DepAdmin");
                            }
                            <li id="materialManagement" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Met Ocean<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Create", "HrLeaveRequest")">Upload</a></li>
                                    <li><a href="@Url.Action("Create", "HrLeaveRequest")">History</a></li>
                                    <li><a href="@Url.Action("Create", "HrLeaveRequest")">Check File</a></li>
                                    <li><a href="@Url.Action("Create", "HrLeaveRequest")">Dictionaries</a></li>
                                    <li><a href="@Url.Action("Create", "HrLeaveRequest")">Settings</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="navbar-text">
                            <div class="text-center"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Al-Farabi Rakhimzhanov (NK11001111)</div>
                            <input type="hidden" id="currentUserNk" value="NK11001111" />
                        </div>

                        <div class="navbar-footer">
                            <ul>
                                <li><a href="~/Manuals/HR LAF Approver Manual.docx" class="btn-link"><i class="fa fa-info-circle" aria-hidden="true"></i> Download Approver Manual</a></li>
                            </ul>
                        </div>

                        <br />
                    </div>
                </div>
            </nav>
        </div>
        <div class="container-fluid-inn2">
            <div class="col-xs-12" style="margin-top: 12px;">
                @RenderBody()
            </div>
        </div>
    </div>
    <span id="notification" style="display: none;"></span>
    <script src="@Url.Content("/Scripts/libs/kendo/jszip.min.js")"></script>
    <script src="@Url.Content("/Scripts/libs/require.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>